<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_21_1.Properties.Settings.SqldataConnectionString"
            connectionString="Data Source=|DataDirectory|\Sqldata.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="_21_1.Properties.Settings.studentConnectionString"
            connectionString="Data Source=WIN-YXDGNGPG621;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>