body
{
font-size:12px;
font-family:Geneva, Arial, Helvetica, sans-serif;
margin:0px 0px 0px 0px;
background:gray;
}

.top
{
background:white;
margin:0px auto;
margin-top:50px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
width:490px;
font-size:18px;
}

.login
{
background:white;
margin:0px auto;
width:500px;
    text-align: center;
}

.end
{
background:#f9fbfd;
margin:0px auto;
width:480px;
text-align:center;
padding:10px 10px 10px 10px;
}